[submodule "client/vis"]
	path = client/vis
	url = git@github.com:burinm/vis.git
[submodule "client/vis-6.2.9"]
	path = client/vis-6.2.9
	url = git@github.com:burinm/vis-6.2.9.git
[submodule "client/jquery-3.4.1"]
	path = client/jquery-3.4.1
	url = git@github.com:burinm/jquery-3.4.1.git
